PORT=3555
#Expire in 13.08.2023
SPHERON_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlLZXkiOiI0ZjQwY2Y5MjkzZjM0ZTVjZmJlZjk0NjMwMTczMDlhNzZmZGQyYTM2YWU2NTk3YTJhNDJmMzU2NzRjOTg3ZWRiMTA0ZTBjNTY4MTRhNzE3YzMwNzVhMTEwODZiOGMwZGFhMTNmNGMzOTZmYmQyYjgxMDBkZGRkYjYxMGU1YzVmYSIsImlhdCI6MTY4NjcwMjYyNCwiaXNzIjoid3d3LnNwaGVyb24ubmV0d29yayJ9.2ACUHg1PdRDkQalVJRXvLAmAB1PcFnxpOG_S_6PBMb8